
<ion-view title="Add customer" id="page2">
  <ion-content padding="false" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input6">
          <span class="input-label">First name</span>
          <input type="text" placeholder="" ng-model="user.FirstName">
        </label>
        <label class="item item-input" id="signup-input100">
          <span class="input-label">Last name</span>
          <input type="text" placeholder="" ng-model="user.LastName">
        </label>

        <label class="item item-input" id="signup-input8">
          <span class="input-label">Is reselling</span>
          <select>
            <option> Yes </option>
            <option> No </option>
          </select>
          <input type="text" placeholder="" ng-model="user.IsReselling">
        </label>

        <label class="item item-input" id="signup-input9">
          <span class="input-label">Phone number</span>
          <input type="text" placeholder="" ng-model="user.PhoneNumber">
        </label>

      </ion-list>
      <a ng-click="submit()" id="signup-button11" class="button button-stable button-block">Submit</a>
    </form>
  </ion-content>
</ion-view>

