<ion-view title="Dashboard" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="dashboard-card21">
      <ion-item class="item-avatar calm" id="dashboard-list-item3">
        <h2calm>User Name</h2calm>
      </ion-item>
      <div class=" item item-image">
        <img src="img/ZpG7KTBtQOekBQwQiF0d_area_chart.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dashboard-list-item-container2">
        <div id="dashboard-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The
            <strong>Current Fair Price</strong> for gula apong is
            <strong>20 Ringit</strong> per Container. Most Farmers within
            <strong>50 km</strong> close to your area sell on average a price of
            <strong>24 Ringit</strong>.</p>
        </div>
      </div>
    </div>
    <div id="dashboard-button-bar1" class="button-bar">
      <a ui-sref="salesToday()" id="dashboard-button10" class="button button-calm button-block">My Production</a>
      <a ui-sref="myFarm()" id="dashboard-button9" class="button button-energized button-block">My Farm</a>
    </div>
  </ion-content>
</ion-view>
