
<ion-view title="Help" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="help-card22">
      <div class=" item item-image">
        <img src="img/iTF834HKTxmgzYAdVmtA_developers.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="help-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Contact us (Giorgi, Judy, Chris, Kuan) at</p>

      <p style="color:#000000;font-size:20px;">0031645815004 or j.n.schermer@gmail.com</p>
    </div>
  </ion-content>
</ion-view>
