<ion-view title="Login" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="dashboard-card21">
      <div class=" item item-image">
        <img src="img/logo_name.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>

   <!-- <div class="spacer" style="width: 300px; height: 34px;"></div>-->
    <h1 id="login-heading2" style="color:#000000;"></h1>
    <ion-list id="login-list2">
      <label class="item item-input" id="login-input4">
        <span class="input-label">Username</span>
        <input type="text" placeholder="" ng-model="user.id">
      </label>
      <label class="item item-input" id="login-input5">
        <span class="input-label">Password</span>
        <input type="password" placeholder="" ng-model="user.couchPassword">
      </label>
    </ion-list>
    <form id="login-form2" class="list">
      <h2 id="login-heading1" style="color:#000000;"></h2>
      <a ng-click="authUser()" id="login-button1" style="color:#000000;font-weight:500;" class="button button-positive button-large button-block">Login</a>
    </form>
    <h3 id="login-heading3" style="color:#000000;font-weight:300;font-style:italic;">Not Registered? </h3>
    <a ui-sref="signup()" id="login-button2" style="color:#000000;font-weight:500;" class="button button-energized">Sign Up!</a>
  </ion-content>
</ion-view>
