<ion-view title="My Farm(s)" id="page4" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/nipatree_pinggan_jaya_1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="myAreaS-list4">
        <ion-item ng-repeat="area in allAreas | orderBy:'date':true">
    <!--      {{area.index}} -->
          Farm 1. Trees: {{area.trees}}

          <ion-option-button class="button-assertive" ng-click="deleteArea(area)">
            Delete
          </ion-option-button>
          <ion-option-button class="button-energized" ng-click="editArea(area)">
            Edit
          </ion-option-button>
        </ion-item>
    </ion-list>
    <a ng-click="addArea()" id="myAreaS-button13" class="button button-positive button-block">Add area</a>
  </ion-content>
</ion-view>
