<ion-view title="My Farm" id="page4" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/BZwuqrg6Sim5ubxpo83a_GulaTree.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="myFarm-form10" class="list">
      <label class="item item-input item-stacked-label" id="myFarm-input20">
        <span class="input-label">Number of Trees </span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="myFarm-input11">
        <span class="input-label">Distance from home (km)</span>
        <input type="number" placeholder="">
      </label>
      <a ui-sref="dashboard()" id="myFarm-button5" class="button button-positive button-block">Submit!</a>
    </form>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <div id="myFarm-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">We would like to know about your
        <strong>farm</strong> so that we can understand how much you are able to produce.</p>
    </div>
  </ion-content>
</ion-view>