ionic serve
<ion-view title="Overview of sellers" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="overviewOfSellers-list7">
      <ion-item class="item-avatar" id="overviewOfSellers-list-item17">
        <img src="img/vIOaWBUcRhyKLmwgLBwa_Portraits-107.jpg">
        <h2>Judi</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item16">
        <h2>Zul</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item18">
        <h2>SuperProducer</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item19">
        <img src="img/a5u9alVR4mRGRtMuTurZ_IMG_20180614_141330.jpg">
        <h2>Beginner</h2>
      </ion-item>
    </ion-list>
    <label class="item item-select" id="signup-select1">
      <span class="input-label">I want to buy from..</span>
      <select>
        <option>Judi <fieldset>
        </fieldset>
        </option>
        <option>Zul</option>
        <option>SuperProducer</option>
        <option>Beginner</option>
      </select>
      <input type="text" placeholder="" ng-model="user.seller">
      <a ng-click="submit()" id="productionThisWeek-button12" class="button button-positive button-block">Submit!</a>
    </label>


  </ion-content>
</ion-view>

<!--Choose producer:-->

<!-- make sure that demand is subtracted from stock-->

<!-- add their stock to this overview-->
<!-- initialize the stock on their production this week-->

<!-- <legend>Contact information</legend> -->

<label for="phone">Phone:</label>
<input type="tel" id="phone" name="phone"
       placeholder="123-456-7890"
       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
       required />
<!--    <span class="validity"></span>-->
