<ion-view title="Overview of sellers" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="overviewOfSellers-list7">
      <ion-item class="item-avatar" id="overviewOfSellers-list-item17">
        <img src="img/vIOaWBUcRhyKLmwgLBwa_Portraits-107.jpg">
        <h2>Judi</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item16">
        <h2>Zul</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item18">
        <h2>SuperProducer</h2>
      </ion-item>
      <ion-item class="item-avatar" id="overviewOfSellers-list-item19">
        <img src="img/a5u9alVR4mRGRtMuTurZ_IMG_20180614_141330.jpg">
        <h2>Beginner</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>