<ion-view title="Production overview" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-contact"> My Profile</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="productionOverview-card21">
      <div class=" item item-image">
        <img src="img/ZpG7KTBtQOekBQwQiF0d_area_chart.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="productionOverview-button-bar1" class="button-bar">
      <a ui-sref="productionThisWeek()" id="productionOverview-button10" class="button button-calm button-block">My Yields</a>
    </div>
    <a ui-sref="myAreaS()" id="productionOverview-button9" class="button button-energized button-block">My Area(s)</a>
  </ion-content>
</ion-view>
