<ion-view title="Sales Today" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qvsGtHWGSGmrKpuLg6PP_Gula.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="salesToday-form9" class="list">
      <label class="item item-input item-stacked-label" id="salesToday-input15">
        <span class="input-label">Price per Item</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="salesToday-input14">
        <span class="input-label">Gula Apong Produced (Containers)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="salesToday-input21">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
      <a ui-sref="dashboard()" id="salesToday-button16" class="button button-positive button-block">Submit!</a>
      <div class="spacer" style="height: 60px;"></div>
      <div id="salesToday-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">We would like to understand how much
          <strong>gula apong</strong> you are selling so that we can better know how much are you and other gula apong farmers selling for.</p>
      </div>
    </form>
  </ion-content>
</ion-view>